{% extends "base.html" %}

{% load vue_utils %}

{% block content %}
  <div class="jumbotron">
    <h1>Welcome to BestReads!</h1>
    <p>
      Your go-to platform for discovering and exploring a world of books.
      Join our community and embark on a literary journey!
    </p>
    <p>
      <a class="btn btn-primary btn-lg"
         href="{% url 'books:home' %}"
         role="button">Browse Books</a>
    </p>
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script type="module" crossorigin src="{% vue_bundle_url 'main' %}"></script>
{% endblock inline_javascript %}
